* {
    color: white;
    font-family: 'Nunito', sans-serif;
}


body {
    margin: 0px;
    background-color: rgb(3, 3, 49);
}

/*INDEX*/
.container {
    text-align: center;
}


.logo img {
    width: 400px;

}


.nabegaziobarra ul {
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
    list-style: none;
}


.nabegaziobarra ul li a {
    text-decoration: none;
    font-size: 1.25vw;
}


.nabegaziobarra ul li a:hover {
    color: rgb(22, 22, 255);
}


section h2 {
    padding-top: 20px;
    text-align: center;
}


section .container2 {
    display: flex;
    padding-bottom: 40px;
    padding-top: 1px;
    padding-left: 50px;
}


section h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


section img {
    box-shadow: 10px 10px 10px rgb(2, 2, 95);
}


section .container2 .pelikula2 {
    padding-left: 20px;
}


section .container2 .pelikula3 {
    padding-left: 20px;
}


section .container2 .pelikula4 {
    padding-left: 20px;
}


section .container2 .info {
    padding-left: 40px;
    padding-right: 40px;
}


section .info-index {

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 30px rgb(8, 8, 129);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;


}

/*hautatzaile konplexu*/
section .info-index .lehenletrabeltz::first-letter{
    font-weight: bold;
}


section .container2 .info h2 {
    text-align: center;
}


section .container2 .info p {
    text-align: center;
}


footer .container3 {
    display: flex;
    padding-left: 20px;
    background-color: rgb(2, 2, 77);
    justify-content: space-between;
}


footer h4 {
    text-align: center;
}


footer p {
    text-align: center;
}


footer .info-footer ul {
    list-style: none;
}


footer .kontaktua ul {
    list-style: none;
}


footer .mapa {
    padding-right: 30px;
    padding-bottom: 30px;
}


.kartela {
    display: flex;
    align-items: center;
}


.kartela img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.kartela img:hover{
    /*orrela pasatze duguena arratoia zuri-beltzez jarriko da*/
    transition: all 0.4s ease;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}


.info {
    flex-grow: 1;
    padding-left: 10px;
    text-align: center;
}


.kartela a {
    border: 1px solid white;
    color: rgb(2, 2, 77);
    background-color: white;
    border-radius: 20px;
    padding: 8px 16px;
    text-decoration: none;
}


.kartela a:hover {
    background-color: rgb(2, 2, 77);
    color: white;
    border-color: white;
}


/*DRAMA*/


.containerdrama1,
.containerdrama2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


.handia,
.lalistadeschindler,
.cadenaperpetua,
.milliondollarbaby {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
}

/*BELDURRA*/

.containerbeldurra1,
.containerbeldurra2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


.psicosis,
.elresplandor,
.dracula,
.cisnenegro {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
}



/*ZIENTZIA FIKZIOA*/
.containerzientziafikzioa1,
.containerzientziafikzioa2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
} 

.odisea,
.lanoviadefrankestein,
.planetadelossimios,
.alien{
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
}


/*KOMEDIA*/
.containerkomedia1,
.containerkomedia2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.scarymovie,
.lebowski,
.brian,
.aterrizacomopuedas{
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
}

/*ERRESERBAK*/

.containererresrba {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.containererresrba h1 {
    text-align: center;
}

.containererresrba p {
    text-align: center;
}

/*hautatzaile konplexu*/
.containererresrba .lehenletrabeltz::first-letter{
    font-weight: bold;
}

.menua {
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
}

.menua ul {
    background-color: rgb(3, 3, 49);
    list-style: none; /* kentzeko puntuak*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.menua ul li {
    flex-grow: 1;
}

.menua ul li a {
    text-decoration: none; /* kentzeko subraiatua*/
    display: block;
    padding: .5em 1em; /* bere jatorrizko tamaina moldatzeko*/
}

.menua ul li a:hover {
    background-color: rgb(22, 22, 255);
}

.menua ul li ul {
    display: none;
}

.menua ul li ul:hover,
.menua ul li a:hover+ul {
    display: block;

}

section .menu img{
    padding-bottom: 20px;
}

/* PANTAILA TXIKIETARAKO */



@media screen and (max-width: 820px) {
    body {
        font-size: 14px;
    }


    .container {
        text-align: center;
        padding: 20px;
    }


    .logo img {
        width: 80%;
    }


    .nabegaziobarra ul {
        display: block;
        text-align: center;
        padding: 10px;
    }


    .nabegaziobarra ul li a {
        display: block;
        padding: 10px 0;
        font-size: 16px;
    }


    /*Egiten du sectionen kontainerra responsive izatea eta gauzak behera joatea, kolumna baten bezala*/
    section .container2,
    .containerdrama1,
    .containerdrama2,
    .containerbeldurra1,
    .containerbeldurra2,
    .containerzientziafikzioa1,
    .containerzientziafikzioa2,
    .containerkomedia1,
    .containerkomedia2 {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }


    section img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }


    section .container2 .info {
        padding: 20px;
    }


    footer .container3 {
        flex-direction: column;
        padding: 20px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }


    .container {
        text-align: center;
        padding: 20px;
    }


    .logo img {
        width: 80%;
    }


    .nabegaziobarra ul {
        display: block;
        text-align: center;
        padding: 10px;
    }


    .nabegaziobarra ul li a {
        display: block;
        padding: 10px 0;
        font-size: 16px;
    }


    /*Egiten du sectionen kontainerra responsive izatea eta gauzak behera joatea, kolumna baten bezala*/
    section .container2,
    .containerdrama1,
    .containerdrama2,
    .containerbeldurra1,
    .containerbeldurra2,
    .containerzientziafikzioa1,
    .containerzientziafikzioa2,
    .containerkomedia1,
    .containerkomedia2 {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }


    section img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }


    section .container2 .info {
        padding: 20px;
    }


    footer .container3 {
        flex-direction: column;
        padding: 20px;
    }
}

/* HASI SAIOA */

/* Body guztian arial letra mota eta argazki bat fondo bezala */
.hasisaioa{
    font-family: 'Nunito', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* Formularioa eta kutxaren sorkuntza */
.formularioaH {
  width: 400px;
  height: 340px;
  background: rgb(2, 2, 95);
  margin: auto;
  margin-top: 250px;
  box-shadow: 7px 13px 37px rgb(2, 2, 95);
  padding: 20px 30px;
  border-top:  rgb(22, 22, 255);
  color: rgb(22, 22, 255);
}

/* Formularioan tituluaren estiloa aldatzeko */
.formularioaH h5 {
    margin: 0%;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    color:white
}

/* Idazteko espazioak konfiguratzeko */
.control {
    width: 100%;
    border: 1px  rgb(22, 22, 255);
    margin-bottom: 15px;
    padding: 15px 10px;
    background: #000000;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

/* Botoiaren itxura */
.botoia {
    width: 100%;
    height: 40px;
    background:  rgb(43, 75, 255);
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 16px ;
    font-weight: bold;
    cursor: pointer;
}

/* "Ez dut pasahitza gogoratzen" itxura aldatzeko */
.formularioaH p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.formularioaH a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.formularioaH p:hover {
    text-decoration: underline;
}

